<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean id="lapobj" class="org.ivoyant.week1.Spring.Laptop"/>
        <bean id="alien" class="org.ivoyant.week1.Spring.Alien" scope="singleton">
            <property name="age" value="21"></property>
            <property name="lap" ref="lapobj"></property>
        </bean>
</beans>
